@font-face {
  font-family: AkzidenzGroteskBQ;
  src: url('/fonts/AkzidenzGroteskBQ-Regular.otf.css');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: AkzidenzGroteskBQ;
  src: url('/fonts/AkzidenzGroteskBQ-Bold.otf.css');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OptimaDisplay;
  src: url('/fonts/OptimaDisplay-Light.otf.css');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: OptimaNovaLT;
  src: url('/fonts/OptimaNovaLT-Light.otf.css');
  font-weight: 300;
  font-style: normal;
}