@font-face {
  font-family: OptimaDisplayRoman;
  src: url('/fonts/OptimaDisplay-Roman.otf.css');
}

@font-face {
  font-family: OptimaELRoman;
  src: url('/fonts/OptimaEL-Roman.otf.css');
}

@font-face {
  font-family: OptimaELText;
  src: url('/fonts/OptimaEL-Text.otf.css');
}